<%= error_messages_for 'emailform' %>

<!--[form:emailform]-->
<p><label for="emailform_description">Description</label><br/>
<%= text_field 'emailform', 'description'  %></p>

<p><label for="emailform_contents">Contents</label><br/>
<%= text_area 'emailform', 'contents'  %></p>
<!--[eoform:emailform]-->

