log/*.log
tmp/**/*
mkmf.log
*.swp
*.swo
*~
.AppleDouble
/config/initializers/secret_token.rb
*.rbc
*.sassc
.sass-cache
capybara-*.html
/.bundle
/vendor/bundle
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
.DS_Store
