log/*.log
tmp/**/*
mkmf.log
*.swp
*.swo
*~
.AppleDouble
/config/secrets.yml
*.rbc
*.sassc
.sass-cache
capybara-*.html
/.bundle
/vendor/bundle
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
.DS_Store
public/system
config/development.sphinx.conf
db/sphinx/*
log/development.sphinx.pid
config/email.yml
config/groupme.yml
