<html>
<head>
  <link href="/layout.css" rel="stylesheet" type="text/css" />
  <meta name="viewport" content="width=800px; initial-scale=1.0; maximum-scale=1.0; user-scalable=1;"/>

  <title>ABTT: AB Tech Tracker</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.js" type="text/javascript"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js" type="text/javascript"></script>
  <script type="text/javascript">
    $(function() {
      window.scrollTo(242,160);
      $("input").blur(function() {
        window.scrollTo(242,160);
      });
      $("#login_box input[type!=submit]").hover(function() {
        $(this).css({"box-shadow": "0 0 15px black"}); 
        },
        function() {
        $(this).css({"box-shadow": "0 0 0 black"}); 
      });
    });
  </script>
  <style type="text/css">
    body {
      background-color: black;
      margin: 0;
      padding: 0;
    }

    #login_box {
      margin: auto;
      background: black url("/images/login_lam.jpg") top center no-repeat;
      width: 783px;
      height: 385px;
      padding-top: 415px;

    }
    #footer {
      margin-top: 220px !important;
    }


    #login_box div {
      text-align: center;
      margin-top: 10px;
      margin-bottom: 10px;
    }


    #login_box input[type=text]:focus, #login_box input[type=email]:focus, #login_box input[type=password]:focus {
      background: #ccc;
      box-shadow: 0 0 15px #333;
    }
    
    /*
    #login_box input[type=text]:hover, #login_box input[type=email]:hover, #login_box input[type=password]:hover {
      box-shadow: 0 0 15px #333;
    }
    */

    #username, #password {
      width: 215px;
      border-radius: 14px;
      background-color: white;
      border: 1px solid #666;
      height: 28px;
      text-align: center;
    }

    #login_button {
      /*76 x 22
      top: 499px
      left: 356px
      */
      background: transparent url("/images/login_button.png") top left no-repeat;
      width: 76px;
      border: 0px none black;
      height: 22px;
      cursor: pointer;
      text-indent: 100px; /* Move that text away. */
      overflow: hidden;

    }

    #footer, #footer a {
      color: #ccc;
      font-family: "Helvetica", sans-serif;
      text-decoration: none; 
    }
    #footer a {
     border: 0px none;
    }
    #footer a:hover {
      color: #82201f;
      text-decoration: underline;
    }
  </style>
</head>
<body>

  <div id="login_box">
    <% form_tag({:action => "login"}, :autocomplete => "off", :novalidate => true) do %>
      <div>
        <%= text_field_tag("login", "", :id => "username", :type => "text", :required => true, :placeholder => "Username") %></td>
      </div>
      <div>
        <%= password_field_tag("password", "", :placeholder => "Password") %></td>
      </div>
      <%= hidden_field_tag("remember_me", "1") %></td>
      <div>
        <%= submit_tag "Log In", :id => 'login_button' %>
      </div>
    <% end %>

    <% if iphone_user_agent? %>
        iPhone: <%= check_box_tag :iphone, "awesome", true %>
    <% end %>

    <div id="footer">
      <%= link_to "CMU", "http://www.cmu.edu" %> &middot;
      <%= link_to "OrgTracker", "https://stugov.andrew.cmu.edu/orgtracker/" %> &middot;
      <%= link_to "Activities Board", "http://activitiesboard.org/" %> &middot;
      <%= link_to "AB Tech", "http://www.abtech.org/" %>
    </div>
  </div>
  </body>
</html>
