<table>
<tr><td>Billing Date:</td><td><%= date_select :timecard, :billing_date %></td></tr>
<tr><td>Due Date:</td><td><%= date_select :timecard, :due_date %></td></tr>
<tr><td>Start Date:</td><td><%= date_select :timecard, :start_date %></td></tr>
<tr><td>End Date:</td><td><%= date_select :timecard, :end_date %></td></tr>
</table>
