<h1>Edit timecard entry</h1>
<p><%= error_messages_for 'timecard_entry' %></p>
<% form_tag timecard_path(@timecard_entry), :method => 'put' do %>
<%= render :partial => 'form' %>
<%= submit_tag 'Update' %>
<p><%= link_to 'Destroy', timecard_path(@timecard_entry), :confirm => 'Are you sure?', :method => :delete %></p>
<%- end %>
