                           CARNEGIE MELLON UNIVERSITY
                                HOURLY TIMESHEET
-------------------------------+-----------------------------------------------
 SOC. SEC. # XXX-XX-<%= if @member.respond_to? :ssn and @member.ssn then sprintf("%4d",@member.ssn) else '    ' end %>       | PERIOD END DATE   <%= format_timecard_date( @end_date ) %>
 NAME:       <%= @member.namelast.upcase %>, <%= @member.namefirst.upcase %>
 APPT.:      1                 | HIRING DEPT:   750131-STUDENT ORGS
-------------------------------+-----------------------------------------------
  DUE TO DEPARTMENT ADMINISTRATOR BY              <%= format_timecard_date(@due_date) %>

  ________________________________________________________________
  EMPLOYEEE SIGNATURE AND DATE
  I certify that all information recorded is true and accurate,
  both as to the hours I worked and the reasons for my absences.

  ________________________________________________________________
  SUPERVISOR SIGNATURE AND DATE
  To the best of my knowledge, the employee worked the hours recorded above.
-------------------------------------------------------------------------------
                             OTHER PAID HOURS CODES
   F - FLOATING HOLIDAY           H - HOLIDAY         S - SICK
   B - BEREAVEMENT                V - VACATION        J - JURY DUTY
   P - (PTO) PAID TIME OFF

                               UNPAID HOURS CODES
   U - UNAID SICK                 A - OTHER UNPAID ABSENCE
-----+-------+-------+-------+-------+-------+-------+-------+-------++----------
 DAY |  IN   |  OUT  |  IN   |  OUT  |  IN   |  OUT  |  IN   |  OUT  || DAILY TTL
-----+-------+-------+-------+-------+-------+-------+-------+-------++----------
 MON |       |       |       |       |       |       |       |       ||
-----+-------+-------+-------+-------+-------+-------+-------+-------++----------
 TUE |       |       |       |       |       |       |       |       ||
-----+-------+-------+-------+-------+-------+-------+-------+-------++----------
 WED |       |       |       |       |       |       |       |       ||
-----+-------+-------+-------+-------+-------+-------+-------+-------++----------
 THU |       |       |       |       |       |       |       |       ||
-----+-------+-------+-------+-------+-------+-------+-------+-------++----------
 FRI |       |       |       |       |       |       |       |       ||
-----+-------+-------+-------+-------+-------+-------+-------+-------++----------
 SAT |       |       |       |       |       |       |       |       ||
-----+-------+-------+-------+-------+-------+-------+-------+-------++----------
 SUN |       |       |       |       |       |       |       |       ||
-----+-------+-------+-------+-------+-------+-------+-------+-------++----------
-----+-------+-------+-------+-------+-------+-------+-------+-------++----------
 MON |       |       |       |       |       |       |       |       ||
-----+-------+-------+-------+-------+-------+-------+-------+-------++----------
 TUE |       |       |       |       |       |       |       |       ||
-----+-------+-------+-------+-------+-------+-------+-------+-------++----------
 WED |       |       |       |       |       |       |       |       ||
-----+-------+-------+-------+-------+-------+-------+-------+-------++----------
 THU |       |       |       |       |       |       |       |       ||
-----+-------+-------+-------+-------+-------+-------+-------+-------++----------
 FRI |       |       |       |       |       |       |       |       ||
-----+-------+-------+-------+-------+-------+-------+-------+-------++----------
 SAT |       |       |       |       |       |       |       |       ||
-----+-------+-------+-------+-------+-------+-------+-------+-------++----------
 SUN |       |       |       |       |       |       |       |       ||
-----+-------+-------+-------+-------+-------+-------+-------+-------++----------
          |TOTAL HRS| REG HRS|  OT@1  | OT@1.5 |  OT@2  | CD-HRS  | CD-HRS  |
          +---------+--------+--------+--------+--------+---+-----+---+-----+
  WEEK 1: |         |        |        |        |        |   |     |   |     |
          +---------+--------+--------+--------+--------+---+-----+---+-----+
  WEEK 2: |         |        |        |        |        |   |     |   |     |
          +---------+--------+--------+--------+--------+---+-----+---+-----+

Card Recipient:  RUVOLO, DAVID
