<h1>Timecards listing</h1>
<table class="generic" border="1">
<tr>
<th>Billed date</th>
<th>Hours billed</th>
<th>&nbsp;</th>
</tr>
<% @timecards.each do |timecard| %>
<tr>
<td><%= timecard.date.strftime "%b %d, %Y" %></td>
<td><%= timecard.hours %></td>
<td><%= link_to 'Show', timecard_url(timecard.id) %> <%= link_to 'Edit', edit_timecard_url(timecard.id) %></td>
</tr>
<% end %>
</table>
