<h1>Showing timecard</h1>
<p>This timecard is for the billing period ending on <%= @timecard.billing_date.strftime("%b %d, %Y") %> and <% if @timecard.submitted %>was<% else %>is<% end %> due on <%= @timecard.due_date.strftime("%b %d, %Y") %>.</p>
<p>Download a pdf of <%= link_to 'all timecards', view_timecard_path(:id => @timecard, :format => 'pdf') %> from this period.</p>
<% @timecard.members.each do |member| %>
<h2>Timecard for <%= member.fullname %></h2>
<%= render :partial => 'timecard_entries/timecard_entries', :object => @timecard.entries(member) %>
<%= link_to 'Print timecard', timecard_path(:id => @timecard, :format => 'pdf') %>
<%= link_to 'View timecard', timecard_path(:id => @timecard, :format => 'txt') %>
<% end %>
