<h1>Shirt Sizes for Active Members</h1>
<table class="generic">
  <thead>
    <tr>
      <th>Size</th>
      <th>Count</th>
      <th>Members</th>
    </tr>
  </thead>
  <% @shirt_sizes.each do |size, members| %>
    <tr>
      <td><%= size %></td>
      <td><%= members.length %></td>
      <td>
        <ul>
          <%= members.collect { |m| "<li>#{m}</li>" } %> 
        </ul>
      </td>
    </tr>
  <% end %>
</table>
