[Unit]
Description=AB Tech Tracker Thinking Sphinx Accept Sockets

[Socket]
ListenStream=/srv/abtech-tracker/%i/run/searchd.sock

SocketUser=deploy-abtech-tracker
SocketGroup=deploy-abtech-tracker

[Install]
WantedBy=sockets.target
