[Unit]
Description=AB Tech Tracker Puma HTTP Server Accept Sockets

[Socket]
# ListenStream=0.0.0.0:9292
# ListenStream=0.0.0.0:9293

# AF_UNIX domain socket
# SocketUser, SocketGroup, etc. may be needed for Unix domain sockets
ListenStream=/srv/abtech-tracker/%i/run/puma.sock

# Socket options matching Puma defaults
NoDelay=true
ReusePort=true
Backlog=1024

[Install]
WantedBy=sockets.target
