<h1>Editing Form Email</h1>

<%= form_for @email_form do |f| %>
  <%= render :partial => 'form', :locals => {:f => f} %>
<% end %>

<% content_for :more do %>
  <ul>
    <li><%= link_to 'Back', email_forms_url %></li>
  </ul>
<% end %>
