<h1>Creating equipment</h1>

<%= form_for @equipment do |f| %>
  <%= render :partial => 'form', :locals => {:f => f} %>
<% end %>

<% content_for :more do %>
  <ul>
    <li><%= link_to 'Back to equipment list', equipment_index_url %></li>
  </ul>
<% end %>
