<%
  def render_item(item)
    ret = "";
    ret << item.description;
    ret << " [";
    ret << item.shortname;
    ret << "]"
    if can? :update, item
      ret << " <small>"
      ret << link_to_function("edit", "popupAndReload('" + url_for({:action => "edititem", :id => item.id}) + "')")
      ret << "</small>"
    end
    if can? :destroy, item
      ret << " <small>"
      ret << ajax_link_to("-item", {:action => "delitem", :id => item.id});
      ret << "</small>";
    end
    return ret;
  end

  def render_tree(node)
    ret = "";

    if(node.id != EquipmentCategory::Root_Category)
      ret << "<strong>";
      ret << node.name;
      ret << "</strong><br/>\n";
      if can? :update, node
        ret << " <small>"
        ret << link_to_function("edit", "popupAndReload('" + url_for({:action => "editgroup", :id => node.id}) + "')");
        ret << "</small>"
      end
      if can? :destroy, node
        ret << " <small>"
        ret << ajax_link_to("-group", {:action => "delgroup", :id => node.id})
        ret << "</small>"
      end
    else
      ret << "<strong>[root]</strong>"
    end
    if can? :create, EquipmentCategory
      ret << " <small>"
      ret << ajax_link_to("+group", {:action => "newgroup", :id => node.id})
      ret << "</small>"
    end
    if can? :create, Equipment
      ret << " <small>"
      ret << ajax_link_to("+item", {:action => "newitem", :id => node.id})
      ret << "</small>"  
    end

    if(node.id != EquipmentCategory::Root_Category)
      ret << "<ul>\n";
    else
      ret << "<ul id='tree'>\n";
    end

    # do it this way so position is maintained between equipment AND chilren
    subnodes = node.children | node.equipment.active;
    subnodes = subnodes.sort_by { |i| i.position };

    subnodes.each do |n|
      if(n.class == Equipment)
        ret << "<li class='tree_item' id='tree_#{EquipmentController::TreeNodeIDOffset + n.id}'>\n";
        ret << render_item(n);
        ret << "</li>\n";
      else
        ret << "<li class='tree_list' id='tree_#{n.id}'>\n";
        ret << render_tree(n);
        ret << "</li>\n";
      end
    end

    if(subnodes.empty?)
      ret << "<li class='tree_item'><small>drop items here</small></li>\n";
    end

    ret << "</ul>\n";

    return ret;
  end

  root = EquipmentCategory.find(EquipmentCategory::Root_Category);
%>
<%= render_tree(root).html_safe %>
