<h1>Listing timecard entries</h1>

<p>Create a <%= link_to 'new timecard entry', new_timecard_entry_path %>.
Timecard entries can be edited up until the timecard has been marked as
submitted.</p>
<p><%= link_to 'View', timecards_path %> timecards.</p>

<%= render :partial => 'timecard_entries', :object => @timecard_entries %>
