<h1>New timecard entry</h1>
<p><%= error_messages_for 'timecard_entry' %></p>
<% form_for @timecard_entry, :url => {:action =>:create} do |f| %>

<%= render :partial => 'form' %>
<%=submit_tag 'Submit' %>
<%- end %>
