/* CSS Document */

.menu_container {
	width: 175px;
	position: absolute;
}
#email_form a{
  color:blue;
}
#email_form input{
  margin-bottom: 10px;
}
#email_form textarea{
  margin-top:10px;
}
#email_form {
  font-size: 80%;
}

.small_menu_container {
	margin-top: 10px;
	position: absolute;
	border-color: #000000;
	border-width: thin;
	border-style: solid;
	background-color: #000066;
	color: #FFFFFF;
	font-weight: bolder;
	padding: 3px;
	text-align: center;
	height: 80%;
}
.small_menu_container:hover {
	background-color: #99004D;
}

.contents {
	margin-left: 201px;
}

.contents_nomenu,
.menu_container {
	margin-left: 25px;
}

.menu_level_1 a,
.menu_level_2 a,
.menu_level_3 a {
    color: #FFFFFF;
}

.menu_level_1 {
	color: #FFFFFF;
	font-weight: bold;
	font-size: larger;
	text-align: right;
	padding-right: 25px;
	margin: 3px;
	margin-top: 10px;
	background-color: #000066;
}

.menu_level_2 {
	color: #FFFFFF;
	font-size: large;
	text-align: right;
	padding-right: 5px;
	margin: 3px;
	margin-left: 15px;
	background-color: #000099;
}
.menu_level_2:hover {
	background-color: #99004D;
}

.menu_level_3 {
	color: #FFFFFF;
	text-align: right;
	padding-right: 5px;
	margin: 3px;
	margin-left: 30px;
	background-color: #0000cc;
}
.menu_level_3:hover {
	background-color: #99004D;
}

.error {
    font-weight: bold;
    font-size: larger;
    color: #FB0700;
}

.notice {
    font-weight: bold;
    font-size: larger;
    color: green;
}

.error A:link {
    color: #FB0700;
}
.error A:visited {
    color: #FB0700;
}

.header_title {
	font-size: 18px;
	font-weight: bold;
}
.header_page_link {
	color: #FFFFFF;
}
.header_page_unselected {
	background-color: #000066;
}
.header_page_selected {
	background-color: #0033FF;
}
.header_page_unselected:hover {
	background-color: #00CCFF;
}
.header_page_hover {
	background-color: #D4D0C8;
}

.style2 {font-size: 18}

.listcontrollink {font-size: x-small}
.listheader {
	font-weight: bold;
    font-size: larger;
	color: #FFFFFF;
	background-color: #994D00;
}
.listheader a {
    color: #FFFFFF;
}
.list {
	border-top-width: thin;
	border-right-width: thin;
	border-bottom-width: thin;
	border-left-width: thin;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: dashed;
	border-left-style: none;
	border-top-color: #000000;
	border-right-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #000000;
	padding-bottom: 5px;
	vertical-align:top;
}
.list_nopad {
	border-top-width: thin;
	border-right-width: thin;
	border-bottom-width: thin;
	border-left-width: thin;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: dashed;
	border-left-style: none;
	border-top-color: #000000;
	border-right-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #000000;
}

.snideremark {
	color: gray;
	margin: auto:
	text-align: center
}

body {
	background-color: #FFFFFF;
}

.calendar_header {
	border-right-width: thin;
	border-bottom-width: medium;
	border-top-style: none;
	border-right-style: dashed;
	border-bottom-style: solid;
	border-left-style: none;
	border-right-color: #666666;
	border-bottom-color: #000000;
}
.calendar_header_first {
	border-right-width: thin;
	border-bottom-width: medium;
	border-top-style: none;
	border-right-style: dashed;
	border-bottom-style: solid;
	border-left-style: dashed;
	border-right-color: #666666;
	border-bottom-color: #000000;
	border-left-width: thin;
	border-left-color: #666666;
}
.calendar_date,
.calendar_date_first {
	border-bottom-width: thin;
	border-right-width: none;
	border-top-style: none;
	border-left-style: none;
	border-bottom-style: dashed;
	border-bottom-color: #666666;
	font-size: small;
	border-right-width: thin;
	border-right-style: dashed;
	border-right-color: #666666;
}
.calendar_date_first {
	border-left-width: thin;
    border-left-style: dashed;
	border-left-color: #666666;
}
.calendar_buffer_day {
    color: #999999;
}
.calendar_selected_week {
	background-color: #D9E1FF;
}
.calendar_selected_day {
	background-color: #0099FF;
}

a {
	border-bottom-width: thin;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: dotted;
	border-left-style: none;
	border-bottom-color: #000099;
	text-decoration:none;
}
a:hover {
  position: relative;
}
a span {
  display: none;
  width: 150px;
}

.group_border {
	border-style: dashed;
	border-color: #999999;
	border-width: thin;
}
.tree_list {
	border-color: #666666;
	border-left-style: double;
    border-left-width: medium;

	border-top-style: solid;
    border-top-width: thin;
	border-right-style: solid;
    border-right-width: thin;
	border-bottom-style: solid;
    border-bottom-width: thin;

    margin-top: 3px;
    margin-bottom: 3px;
    padding: 5px;
}
.tree_item {
    margin-top: 3px;
    margin-bottom: 3px;
    padding: 5px;
}

.draggable {
	padding: 3px;
	border-style: solid;
	border-color: #009900;
	border-width: thin;
	background-color: #ffff66;
	font-size: small;
}
.droptargethover {
	border-color: #009900;
	background-color: #66ffff;
}

.nested {
	background-color: #ECFCFF;
	height: 300px;
	overflow: auto;
}
.nestedsmall {
	background-color: #ECFCFF;
	height: 100px;
	overflow: auto;
}

/* tabs */
div.tab {
}
div.tab>div {
    clear: left;
}
div.tab>div a:link,
div.tab>div a:visited,
div.tab>div a:active {
    color: #000000;
    display: block;
}

ul.tablist {
    margin: 0;
    padding: 0;
    border: none;
    list-style: none;
    float: left;
}

ul.tablist li {
    float: left;
    padding: 0 1px 0 0;
}
ul.tablist li.activetab a:link,
ul.tablist li.activetab a:visited,
ul.tablist li.activetab a:active,
ul.tablist li.activetab a:hover {
    background: #000099;
    color: #FFFFFF;
}

ul.tablist a:link,
ul.tablist a:visited,
ul.tablist a:active,
ul.tablist a:hover {
    height: 15px;
    padding: .2em 1em;
    display :block;
    background: #000099;
    color: #FFFFFF;
    font-weight: bold;
    font-size: large;
}
ul.tablist a:hover {
    background: #99004D;
}

.pagination {
  text-align: center;
  padding: 0.3em;
  cursor: default; }
  .pagination a, .pagination span, .pagination em {
    padding: 0.2em 0.5em; }
  .pagination .disabled {
    color: #aaaaaa; }
  .pagination .current {
    font-style: normal;
    font-weight: bold;
    color: #ff0084; }
  .pagination a {
    border: 1px solid #dddddd;
    color: #0063dc;
    text-decoration: none; }
    .pagination a:hover, .pagination a:focus {
      border-color: #003366;
      background: #0063dc;
      color: white; }
  .pagination .page_info {
    color: #aaaaaa;
    padding-top: 0.8em; }
  .pagination .previous_page, .pagination .next_page {
    border-width: 2px; }
  .pagination .previous_page {
    margin-right: 1em; }
  .pagination .next_page {
    margin-left: 1em; }
