<p><%= @application.member.display_name %>,</p>

<p>Your application for the role of <%= link_to @application.event_role.description, @application.event_role.event %> <%= @application.event_role.role %> has been accepted.</p>

<p>--ABTT (ABTech Tracker)</p>
