<p><%= mail_to @application.member.email, "#{@application.member.display_name}" %> has withdrawn their application to be <%= @application.event_role.role %> for <%= @application.event_role.description %>.</p>

<p>--ABTT (AB Tech Tracker)</p>
