<div class="equipment_event-form fields association-<%= f.index %>">
  <table>
    <tr>
      <td><%= f.label :equipment_id, "Equipment" %>:</td>
      <td><%= f.select :equipment_id, options_from_collection_for_select(Equipment.all, :id, :description) %></td>
    </tr>
    <tr>
      <td><%= f.label :quantity %>:</td>
    </tr>
  </table>
</div>
