<div>
  <h2>Attachments</h2>
  <p>Riders and soundvision and stageplots...</p>
  <table>
    <% @event.attachments.each do |a| %>
      <tr class="listentry<%=cycle("2","1")%>">
      <td><%= link_to a.attachment.original_filename, a.attachment.url %> <% unless @is_view_mode %><%= link_to "Delete", attachment_path(a), :method => "delete",  :confirm => "Are you sure? This is irreversible." %><% end %></td>
    </tr>
    <% end %>
    <% if @event.attachments.count == 0 %>
      <tr>
        <td>Nothing attached yet.</td>
      </tr>
    <% end %>
  <% unless @is_view_mode %>
    <tr>
      <td>
        <label for="attachment_1">Upload an additional attachment: </label>
      <%= file_field "attachments", "1" %></td> 
  </tr>
  <% end %>
</table>
</div>
