<table style="clear: left">
  <tr class="listentry1">
    <% if(@is_view_mode and @event_page != "new") %>
    <td align="left"><%= link_to "edit", { :action => "edit", :page => @event_page, :id => @event.id } %></td>
    <% else %>
    <td align="left"><input type="submit" value="<%= ApplicationController::Mode_Edit %>"/></td>
    <td><input type="reset" value="Reset" onclick="confirm('Are you sure you want to reset all data to is previous state? This CANNOT be undone.')" />
    <td><%= link_to "back to read-only view", { :action => "show", :page => @event_page, :id => @event.id } %></td>
    <% end %>
  </tr>
</table>
