<div id="date_chooser">
  <%= button_to "&lt; Earlier", {:startdate => @startdate-1.day} %>
  <%= button_to "Today", {:startdate => Date.today}, {"style" => "font-size: 12pt"} %>
  <%= button_to "Later &gt;", {:startdate => @startdate+1.day} %>
</div>
