  <% if @event_pages and @event_pages[:page_count] > 1 %>
    <tr class="list_footer"><td colspan="6" style="border: 0">
      <table width="100%" style="margin-bottom: 2px;"><tr>
        <td><%= (backward_link != nil) ? backward_link : "" %></td>
        <td align="right"><%= (forward_link != nil) ? forward_link : "" %></td>
      </tr></table>
    </tr>
  <% end %>
</table>
