<div id="event-container">
  <h2>Edit equipment for event "<%= @event.title %>"</h2>
  
  <%= form_for(@event, :url => edit_equipment_event_path(@event)) do |builder| %>
    <%= render :partial => "equipment_form", :locals => {:f => builder} %>
    
    <fieldset id="event-equipment-form-submit">
      <legend>Submit</legend>
    
      <input type="submit">
    </div>
  <% end %>
</div>
