<div id="event-selector">
  <span id="event-sel-title">Incomplete Events</span>
  <span id="event-sel-months"><%= month_links %></span>
  <span id="event-sel-time"><%= link_to "Future", events_url %> | <%= link_to "Past", past_events_url %></span>
</div>

<%= eventslist @eventdates %>
