<%= render :partial => "list", :locals => {:eventdates => @eventdates} %>

<% content_for :sidebar do %>
  <div id="event-more">
    <h4>More</h4>
    
    <ul>
      <li>Create a <%= link_to("new event", new_event_path) %>.</li>
      <li>View <%= link_to "incomplete events", {:controller => 'events', :action => 'index', :selected => "incomplete"} %>. (<%= Event.count(:conditions => ["status NOT IN (?)", Event::Event_Status_Group_Completed]) %>)
    </ul>
  </div>
<% end %>