<h2>Guide to Tracker</h2>
<p>Tracker is an internal website for AB Tech to keep tabs on its events and internal logistics. Here's a rundown of common terminology on Tracker:</p>
<h3>Event Terms</h3>
<ul>
  <li><strong>C: </strong>stands for Call, or when Tech convenes to start setting up the particular event. Unless otherwise specified, Tech always convenes at Techroom in order to gather equipment to move to the event location. If you'd like to help but can only come after call time, send out a message and either the TiC or other run crew for the event will be happy to let you know where people are!</li>
  <li><strong>E: </strong>stands for Event, and spans the expected event duration. Not much help is needed during the event itself unless you are on run crew. Feel free to stick around though, since AB Tech does a wide variety of events!</li>
  <li><strong>S: </strong>stands for Strike, which is when we clean up all of our equipment and put it back in Techroom. Tech meets on site of the event. Strike can last for a while, depending on the size of the event, so help is appreciated even if you come late! If you are unsure if people are still striking, send out a message and someone will reply with whether strike is still ongoing and where.</li>
</ul>
<h3>Run Crew</h3>
<p> Run crew is, generally speaking, the people who are designated a role in ensuring the execution of an event. Often the run crew do some sort of preparation work related to their role. During show, relevant run crew will perform necessary tasks such as running a sound or lighting board, or managing backstage to keep the show running. Here's a list of the common run positions:</p>
<ul>
  <li><strong>TiC: </strong>stands for Techie in Charge. The TiC is generally in charge of planning all tech support required for an event. This includes communicating with organizers, finding run crew, and taking care of all other logistics necessary to ensure the event runs as smoothly as possible.</li>
  <li><strong>FoH: </strong>stands for Front of House engineer. The FoH is responsible for sound, including setup, mixing, and ensuring that the house (where the audience is) sounds good. On top of determining which set of speakers to use, prep work often involves accounting for all sound inputs and mapping them into a workbook to keep track of them.</li>
  <li><strong>Mon: </strong>is short for Monitor engineer. For events with live sound requirements, performers often want to be able to hear what they are playing using monitor speakers or in-ear monitors. Sometimes, these requests are complex enough that an specific engineer is required to prepare a monitor system and mix during the show. Mons are also often responsible for helping performers move instruments during show changeovers.</li>
  <li><strong>LD: </strong>stands for Lighting Designer. Similar to the FoH, the LD is responsible for all things lights. LDs program cues and operate lights during the show; for many events, they also have creative control over how the stage and actors look. For larger shows, LDs will make lighting plots that show where lights go in relation to each other and the stage. Riggers and Electricians will implement the plot so the LD can light the show.</li>
  <li><strong>LProg: </strong>is short for Lighting Programmer. LProgs help the LD program cues for events with significant lighting requests, and may have the opportunity to design dances depending on the LD and event.</li>
  <li><strong>SpotOp: </strong>stands for Spotlight Operator. This person sits on comm following a script. At the SM’s cue, they will aim a spotlight and follow the actor around stage.</li>
  <li><strong>SM: </strong>stands for Stage Manager. SMs come into play when someone needs to be backstage to communicate between the performers there and the run crew in house. While the SM's job sometimes consists of handing off equipment (e.g. mics, keyboards), it also includes playing music files and calling cues, since they have a better grasp on the state of the performers than other run crew.</li>
  <li><strong>Media: </strong>stands for, well, Media. Tech doesn’t have this position often, but when we do, they control what audiences and presenters see and hear on their respective screens. Media has a good understanding of how signals run between their sources and projection equipment, such as projectors and monitors.</li>
  <li><strong>ME: </strong>stands for Master Electrician. Most events do not require an ME, but one becomes necessary when a large quantity of lights and or speakers is required for an event. The ME calculates the power draw of all the equipment, and allocates them to different electrical circuits based on capacity and proximity. While the ME is not strictly required to be at the event, unlike the previous run crew positions, they are required to do paperwork in order to determine how to safely set up equipment, and will especially need to be present at setup in the case that a power distribution system is required. Due to the meticulous and cautious nature of this run position, MEs have to be approved by the Head of Tech in order to run power for any event, and are picked on a case-by-case basis.</li>
  <li><strong>MR: </strong>stands for Master Rigger. In the case that equipment needs to be suspended in the air, a rigger is required to ensure the structural safety of the event. As AB Tech prioritizes safety of its members and equipment, the MR has the final call on whether something is safe or unsafe, and has to do weight and balance calculations in order to prove the safety of a particular structure. Due to the meticulous and cautious nature of this run position, MRs have to be approved by the Head of Tech in order to rig for any event, and are picked on a case-by-case basis.</li>
  <li><strong>Truck/Car: </strong>Sometimes, we need to transport equipment around or off campus. If you have a valid driver’s license and are interested in driving on behalf of AB Tech, talk to a HoT about getting approved by SLICE to drive vehicles.</li>
  <li><strong>a*: </strong>Sometimes run position titles have an 'a' in front of them, such as aTiC, aFoH, or aLD. This indicates an assistant position, which aids the respective run crew member in their duties. The way the assistant helps is entirely up to the main run crew member. However, many times run crew members will open up 'a' positions in order to train new members alongside helping with duties. If you see an 'a' position open up for a role that you are interested in, feel free to apply!</li>
  <li><strong>s*: </strong>Shoulder positions, such as sTiC, sFoH, or sLD, are assistant positions for experienced members. A main run crew member may be ready to take a show on their own, but want someone more experienced around in case any issues arise. In this case, shoulders act as experienced assistants who are ready to help troubleshoot and otherwise assist as the main run crew needs. If you see an s* position open and are available to lend a helping head, shoulder, knee or toe (but mostly shoulder), please apply!</li>
</ul>


<h2>Directions to Techroom</h2>
<h3>From Black Chairs</h3>
<ol>
  <li>Head up the stairs around the black chairs such that you're facing Rangos 3.</li>
  <li>Enter the service hallway between Rangos 3 and the food area.</li>
  <li>Follow the service hallway, up the ramp.</li>
  <li>Techroom will be on the right at the top of the ramp.</li>
</ol>
<h3>From ABP</h3>
<ol>
  <li>From the stairwell, head towards the Gym/Studio A/Keeler. You should pass the glass sculpture on the left.</li>
  <li>Take a right and follow the hallway up the ramp.</li>
  <li>Enter the double doors to your left at the top of the ramp.</li>
  <li>Techroom will be on your left after passing the double doors.</li>
</ol>
<% if current_member %>
  
<% end %>
