<h2>Guide to Tracker</h2>
<p>Tracker is an internal website for AB Tech to keep tabs on its events and internal logistics. Here's a rundown of common terminology on Tracker:</p>
<h3>Event Terms</h3>
<ul>
  <li><strong>C: </strong>stands for Call, or when Tech convenes to start setting up the particular event. Unless otherwise specified, Tech always convenes at Techroom in order to gather equipment to move to the event location. If you'd like to help but can only come after call time, send out a message and either the TiC or other run crew for the event will be happy to let you know where people are!</li>
  <li><strong>E: </strong>stands for Event, and spans the expected event duration. Not much help is needed during the event itself unless you are on run crew. Feel free to stick around though, since AB Tech does a wide variety of events!</li>
  <li><strong>S: </strong>stands for Strike, which is when we clean up all of our equipment and put it back in Techroom. Tech meets on site of the event. Strike can last for a while, depending on the size of the event, so help is appreciated even if you come late! If you are unsure if people are still striking, send out a message and someone will reply with whether strike is still ongoing and where.</li>
</ul>
<h3>Run Crew</h3>
<p> Run crew is, generally speaking, the people who are delighted a role in ensuring the execution of an event. Often the run crew do some sort of preparation work related to their role. During show, relevant run crew will perform necessary tasks such as running a sound or lighting board, or managing backstage to keep the show running. Here's a list of the common run positions:</p>
<ul>
  <li><strong>TiC: </strong>stands for Techie in Charge. The TiC is generally in charge of planning all tech support required for an event. This includes communicating with organizers, finding run crew, and taking care of all other logistics necessary to ensure the event runs as smoothly as possible.</li>
  <li><strong>FoH: </strong>stands for Front of House engineer. The FoH is responsible for sound, including setup, mixing, and ensuring that the house (where the audience is) sounds good. On top of determining which set of speakers to use, prep work often involves accounting for all sound inputs and mapping them into a workbook to keep track of them.</li>
  <li><strong>LD: </strong>stands for Lighting Designer. Similarly to the FoH, the LD is responsible for all things lights. LDs sometimes have to make lighting plots that show where lights go in relation to each other and the stage, an important document that tells riggers and electricians how to hang and power their lights. LDs also often have to account for lighting changes on stage, and pre-program them for ease of swapping during show.</li>
  <li><strong>SM: </strong>stands for Stage Manager. SMs come into play when someone needs to be backstage to communicate between the performers there and the run crew in house. While the SM's job sometimes consists of handing off equipment (e.g. mics, keyboards), it also includes playing music files and calling cues, since they have a better grasp on the state of the performers than other run crew.</li>
  <li><strong>ME: </strong>stands for Master Electrician. Most events do not require an ME, but one becomes necessary when a large quantity of lights and or speakers is required for an event. The ME calculates the power draw of all the equipment, and allocates them to different electrical circuits based on capacity and proximity. While the ME is not strictly required to be at the event, unlike the previous run crew positions, they are required to do paperwork in order to determine how to safely set up equipment, and will especially need to be present at set up in the case that a power distribution system is required.</li>
  <li><strong>MR: </strong>stands for Master Rigger. In the case that equipment needs to be suspended in the air, a rigger is required to ensure the structural safety of the event. As AB Tech prioritizes safety of its members and equipment, the MR has the final call on whether something is safe or unsafe, and has to do weight and balance calculations in order to prove the safety of a particular structure. Due to the meticulous and cautious nature of this run position, MRs have to be approved by the Head of Tech in order to rig for any event, and are picked on a case-by-case basis.</li>
  <li><strong>a*: </strong> Sometimes run position titles have an 'a' in front of them, such as aTiC, aFoH, or aLD. This indicates an assistant position, which aids the respective run crew member in their duties. The way the assistant helps is entirely up to the main run crew member. However, many times run crew members will open up 'a' positions in order to train new members alongside helping with duties. If you see an 'a' position open up for a role that you are interested in, feel free to apply!</li>
</ul>


<h2>Directions to Techroom</h2>
<h3>From Black Chairs</h3>
<ol>
  <li>Head up the stairs around the black chairs such that you're facing Rangos 3.</li>
  <li>Enter the service hallway between Rangos 3 and the food area.</li>
  <li>Follow the service hallway, up the ramp.</li>
  <li>Techroom will be on the right at the top of the ramp.</li>
</ol>
<h3>From ABP</h3>
<ol>
  <li>From the stairwell, head towards the Gym/Studio A/Keeler. You should pass the glass sculpture on the left.</li>
  <li>Take a right and follow the hallway up the ramp.</li>
  <li>Enter the double doors to your left at the top of the ramp.</li>
  <li>Techroom will be on your left after passing the double doors.</li>
</ol>
<% if current_member %>
  
<% end %>
