<h1>Listing timecard entries</h1>

<table class="generic" border="1">
<tr>
<th>Event</th><th>Member</th><th>Hours</th></tr>
<% @timecard_entries.each do |t| %>
<tr>
<td><%= t.event.title %></td>
<td><%= t.member.fullname %></td>
<td><%= t.hours %></td>
</tr>
<% end %>
</table>
