<%
@title = 'Print timecard'
# the gem requirement should be taken care of in a better way...
require 'prawn'
string = (render :partial => 'formatted_timecard', :locals => { :timecard => @timecard, :member => @member})
pdf = Prawn::Document.new(:page_size => 'LETTER')
pdf.font 'CourierStd.ttf', :size => 10
height = 720
string.split("\n").each do |line|
	pdf.draw_text line, :at => [36,height]
	height -= 11
end
-%>
<%= pdf.render %>
