<h1>Listing permissions</h1>

<table class="generic">
  <tr>
    <th width="25" class="listheader">&nbsp;</th>
    <th class="listheader" scope="col">Pattern</th>
  </tr>

<% for permission in @permissions %>
  <tr>
    <td class="list"><div align="right">
      <span class="listcontrollink">
        <%= link_to "show", permission %><br />
        <%= link_to "edit", edit_permission_path(permission) %><br />
      </span>
    </div></td>
    <td><%=h permission.pattern %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New permission', new_permission_path %>
