<p>Hi <%= @preferred_name %>!</p>

<p>
  You're receiving this email because you were added to our mailing 
  list. You should also be receiving an invite to join our Slack 
  shortly. Let us know if you didn't receive one.
  If you would like to be removed from the mailing list or Slack, 
  let us know by replying to this email.
</p>

<p>To learn more about AB Tech and what we do:</p>

<ol>
  <li>
    Check out the rest of our website at
    <a href="https://www.abtech.org">https://www.abtech.org</a> 
    and follow us on Instagram
    <a href="https://www.instagram.com/cmuabtech/">@cmuabtech</a>.
  </li>
  <li>
    Check out Tracker for our events at 
    <a href="https://tracker.abtech.org">tracker.abtech.org</a>
  </li>
  <li>Email us if you have any questions.</li>
</ol>

<p>
  During the semester, feel free to stop by and help at any of our 
  events or attend our trainings. Keep track of the events you 
  attend, and after you reach 6 events, email
  <a href="mailto:abtech@andrew.cmu.edu">abtech@andrew.cmu.edu</a>
  and we will onboard you as a member of AB Tech. Note that up to 3 
  trainings may be counted towards these 6 events, so at least 3 
  practical events (i.e. helping with setup or strike of an event) 
  are needed to become a full member.
</p>

<p>
  Here's some jargon you may need to know to 
  understand future emails:
</p>

<ul>
  <li>Call time: the time you show up</li>
  <li>Show time: the time the event actually begins</li>
  <li>Strike time: the time you show up for cleanup</li>
  <li>HoT: Head of Tech (me)</li>
  <li>
    TiC: Techie in Charge (the person who is in charge of the 
    individual event)
  </li>
  <li>FoH: Front of House (sound) person</li>
  <li>LD: Lighting Designer</li>
  <li>SM: Stage Manager</li>
</ul>

<p>
  One last note: if you ever hear the song Sunchyme by Dario G 
  playing anywhere on campus, that's an indicator that AB Tech is 
  about to start cleaning up an event. Find the source of the song 
  and help out. This song is also known internally as the "strike 
  song," and you can listen to it here: 
  <a href="https://www.youtube.com/watch?v=wXEyoQ_S3tQ">
    https://www.youtube.com/watch?v=wXEyoQ_S3tQ
  </a>
</p>

<p>
  If you ever have any questions about anything, don't hesitate to 
  email abtech@andrew.cmu.edu, and I or someone from our officer 
  team will get back to you shortly.
</p>

<p>
  Thanks,
  <br>Heidi, Maggie, Max, and Wellington
  <br>Heads of Tech
</p>

