<h1>Editing invoice item</h1>

<%= form_for @invoice_item do |f| %>
  <%= render :partial => 'form', :locals => {:f => f} %>
<% end %>

<% content_for :more do %>
  <li><%= link_to 'Back to invoice items list', :action => 'list' %></li>
<% end %>
