<% for column in Location.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @location.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @location %> |
<%= link_to 'Back', :action => 'list' %>
