// Place all the styles related to the Members controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.member-info {
  td {
    vertical-align: top;
    padding-right: 2em;
  }
}

#rp-anchors li {
  display: inline;
  
  &+li:before {
    content: " - ";
  }
}

#rp-lists td {
  vertical-align: top;
  
  &+td {
    padding-left: 1em;
  }
}

.supertic_condensed {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  
  li {
    display: block;
  }
}

.members-to-edit-css.ms-container {
  width: 100%;
}

.member-form {
  fieldset {
    padding: 10px;
    border: 1px solid #666661;
    margin-bottom: 1em;
    max-width: 720px;
    
    legend {
      background-color: #e0e0e0;
      color: black;
      font: 17px/21px Calibri, Arial, Helvetica, sans-serif;
      padding: 0 10px;
      margin: -26px 0 0 -11px;
      font-weight: bold;
      border: 1px solid black;
    }
    
    dl {
      display: table;
      margin: 0 0 5px 0;
      width: 100%;
      
      &+dl {
        dt, dd {
          padding-top: 1px;
        }
      }
      
      dt {
        display: table-cell;
        text-align: right;
        width: 15%;
        margin: 0 10px 10px 0;
        padding-right: 1em;
        vertical-align: baseline;
      }
      
      dd {
        display: table-cell;
        margin: 0 0 10px 0;
        padding: 1px;
        vertical-align: baseline;

        img {
          vertical-align: sub;
        }
        
        select {
          border: 0;
          outline: 1px solid #e0e0e0;
          font: 12px/21px Verdana, Arial, Helvetica, sans-serif;
        }
        
        .wide-input {
          width: 400px;
          max-width: 100%;
        }
      }
    }
  }
}
