// Place all the styles related to the Members controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.member-info {
  td {
    vertical-align: top;
    padding-right: 2em;
  }
}

#rp-anchors li {
  display: inline;
  
  &+li:before {
    content: " - ";
  }
}

#rp-lists td {
  vertical-align: top;
  
  &+td {
    padding-left: 1em;
  }
}
