<h2>Edit Organization</h2>
<%= render :partial => "organization_form" %>
<%= link_to 'Delete Organization', "/organizations/#{@org.id}", :confirm => "Are you sure? This cannot be undone and it may screw up the database.", :method => 'delete' %>
