<h2>Organizations</h2>
<p>These are the organizations we have dealt with (and have been entered into the tracker). <%= link_to "Click here to add another org.", new_organization_path %></p>
There are <%= @orgs.length %> organizations.

<table class="genericless">
  <% @orgs.each_slice(3) do |slice| %>
    <tr>
      <% slice.each do |organization| %>
        <td>
          <%= link_to h(organization.name), { :controller => "organizations", :action => "show", :id => organization.id } -%>
          <% if organization.defunct -%> - defunct<% end %>
        </td>
      <% end %>
      
      <% (3 - slice.size).times do %>
        <td></td>
      <% end %>
    </tr>
  <% end %>
</table>
