<h2>Organizations</h2>
<p>These are the organizations we have dealt with (and have been entered into the tracker).</p>
<p>There are <%= @orgs.length %> organizations.</p>

<table class="genericless">
  <% @orgs.each_slice(3) do |slice| %>
    <tr>
      <% slice.each do |organization| %>
        <td>
          <%= link_to h(organization.name), { :controller => "organizations", :action => "show", :id => organization.id } -%>
          <% if organization.defunct -%> - defunct<% end %>
        </td>
      <% end %>
      
      <% (3 - slice.size).times do %>
        <td></td>
      <% end %>
    </tr>
  <% end %>
</table>

<% if can? :create, Organization %>
  <% content_for :more do %>
    <ul>
      <li><%= link_to "Add organization", new_organization_path %></li>
    </ul>
  <% end %>
<% end %>
