<h2>Show an Organization</h2>
<table>
  <tr>
    <td>ID: <%= @org.id %></td>
  </tr>
  <tr>
    <td>Name: <%= @org.name %></td>
  </tr>
  <tr>
    <td><b><%= @org.events.length %> Events:</b></td>
  </tr>
    <% @org.events.each do |e| %>
    <tr>
      <td><%=e.to_s%></td>
    </tr>
      <% end %>
  </tr>
</table>
<%= link_to "Back", organizations_path %>
