<h1>New kiosk</h1>

<%= form_for @kiosk do |f| %>
  <%= render :partial => 'form', :locals => {:f => f} %>
<% end %>

<% content_for :more do %>
  <ul>
    <li><%= link_to 'Back to kiosks list', kiosks_path %></li>
  </ul>
<% end %>
