<h1>New permission</h1>

<%= error_messages_for :permission %>

<% form_for(@permission) do |f| %>
  <p>
    <b>Pattern</b><br />
    <%= f.text_field :pattern %>
  </p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', permissions_path %>
