<h1>Editing location</h1>

<%= form_for @location do |f| %>
  <%= render :partial => 'form', :locals => {:f => f} %>
<% end %>

<% content_for :more do %>
  <ul>
    <li><%= link_to 'Show location', @location %></li>
    <li><%= link_to 'Back to locations list', locations_path %></li>
  </ul>
<% end %>
