<h1>New location</h1>

<%= form_for @location do |f| %>
  <%= render :partial => 'form', :locals => {:f => f} %>
  <%= submit_tag "Create" %>
<% end %>

<% content_for :more do %>
  <ul>
    <li><%= link_to 'Back to locations list', locations_path %></li>
  </ul>
<% end %>
