<% for column in Location.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @location.send(column.name) %>
</p>
<% end %>

<% if can? :update, @location %>
  <%= link_to 'Edit', edit_location_path(@location) %> |
<% end %>
<%= link_to 'Back', locations_path %>
