<% content_for :public do %>
  <center><h1>Activities Board Technical Committee - Public <%= @title %></h1></center>

  <center><p style="width: 400px">All information represented here is subject to change at any time. This material is provided as a reference for organizers and new members to determine availability and event information for ABTech. It is not the definite or final source for decisions or information about events.</p></center>
<% end %>

<%= render template: "layouts/events" %>
